#%RAML 1.0
title: RAS
version: 1.0
protocols: [ HTTPS ]
baseUri: https://www.tax.service.gov.uk/

documentation:
  - title: Resource Model
    content: !include documentation/overview.md
  - title: Versioning
    content: !include documentation/versioning.md
  - title: Errors
    content: !include documentation/errors.md

uses:
  sec: resourceTypes/securitySchemes.raml
  annotations: resourceTypes/annotations.raml

mediaType: [ application/json, application/hal+json ]

types:
  NINOtype:
    pattern: "^[A-Z]{2}\\d{6}[A-D]$"

  ISO8601-Date:
    pattern : "^\\d{4}-\\d{2}-\\d{2}$"
  UUID:
    type: string
    pattern: "^[0-9A-Fa-f]{8}(-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}$"
    example: "6b853b58-625f-4e64-955e-43a7cdff5c03"
  FinancialYearType :
    type : string
    pattern : "^\\d{4}-\\d{2}$"
    example : "2016-17"

/customer:
  /match:
    displayName:
      Match a customer by request body suppplied query parameters.
    description: Attempt to match a customer by matching values supplied in the
      body.  Multiple bodies may be supported by the call over time as required.

    post:
      displayName:
        Match a customer by request body suppplied query parameters.
      description: Attempt to match a customer by matching values supplied in the
        body.  Multiple bodies may be supported by the call over time as required.
      body:
        application/json:
          example: |
            {
              "firstname" : "John",
              "lastname" : "Doe",
              "DoB" : "1960-08-26",
              "NINO" : "AB123456D"
            }
          type: !include schemas/customerMatchRequest.schema.json

      responses:
        303:
          description: The Match request has suceeded in finding a single
            customer based on the match parameters supplied.
          headers:
            Location:
              description: URL of temporary location of the HAL home endpoint for
                the matched customer.  A GET performed on the relative URL
                retruned in the Location header is valid for a short period of
                time.  After that period it will fail with a 403 error code
                and the match POST will have to be repeated.
              example: "/customer/matched/08aa2149-5e6c-4f3d-8769-4b025db6ba42"

        400:
          description: The match parameters supplied are not a supported
            combination or the values provided do not meet the type constraints.

        404:
          description: No match found for the supplied query values.  The request
            was understood, a match was attempted, but matched zero or more than one
            customer.

    /matched:
      /{customer-uuid}:
        description: |
          Used as a temporary URL to access via GET, the root data for
          a matched customer.  The URL is returned only from a matching action
          using the POST to the /match path described above.  The URL is only
          valid for a limited period of time.  After expiry a 404 will be
          returned if accessed.
        displayName: Supports GET of link data for a matched customer for a
          limited period of time.
        uriParameters:
          customer-uuid:
            type: UUID
            example: "6b853b58-625f-4e64-955e-43a7cdff5c03"
        get:
          description: |
            Used as a temporary URL to access via GET, the root data for
            a matched customer.  The URL is returned only from a matching action
            using the POST to the /match path described above.  The URL is only
            valid for a limited period of time.  After expiry a 404 will be
            returned if accessed.
          displayName: Supports GET of link data for a matched customer for a
            limited period of time.
          responses:
            200:
              body:
                application/json:
                  type: !include schemas/match-response-schema.json
                  example: |
                    {
                      "_links" :
                      {
                        "self": { "href": "/customer/matched/6b853b58-625f-4e64-955e-43a7cdff5c03" },
                        "getResidencyStatus": { "href": "/customer/matched/6b853b58-625f-4e64-955e-43a7cdff5c03/get-residency-status" }
                      }
                    }
            403:
              description:
                The match has timed out and the UUID is no longer valid.
                The match (POST to /match) will need to repeated.

        /get-residency-status:
          description: Get the residency status for the matched customer
            for the requested financial year
          displayName: Get the residency status for the matched customer
          get:
            queryParameters:
              financial-year:
                type: FinancialYearType
                example: "2016-17"

            responses:
              200:
                body:
                  application/json:
                    type: !include schemas/getResidencyStatus.schema.json
                    example: |
                      {
                        "financialYear" : "2015/16",
                        "UKResidencyStatus" : "RUK",
                        "confidenceStatus" : "confirmed"
                      }
              403:
                description:
                  The match has timed out and the UUID is no longer valid.
                  The match (POST to /match) will need to repeated.
